<h4><%= property.name %></h4>
<p>This page provides information on how to set up your web property to capture tracking data that is
can be interpreted on this site for analytical purposes.</p>
<p>The first thing to note is that each web property (or web site) has a unique tracking code that
is used to uniquely identify tracking data for this web property.  For your property <em><%= property.name %></em>
the tracking code is <em><%= property.tracker %></em>.  It will be used in the examples below.</p>
<p>The second thing to note is that only data tracking requests from <em><%= property.url %></em> will be considered.  
That is, you cannot request tracking data be stored for this site from another site.  This is both a security
measure and a means of protecting the integrity of the tracking data for your site.</p>
<h4>How to start tracking data collection</h4>
<p>To enable tracking for your site the strongly recommended approach is to embed two lines of javascript
into the pages of your web site.  An example of the code to be inserted in each page you want to track is as follows:</p>
<pre><code>
&lt;script src="<%= root_url -%>javascripts/tracker.js" type="text/javascript" /&gt;
&lt;script&gt;
  tracker = new _tks('<%= property.tracker -%>');
  tracker.trackPageview();
&lt;/script&gt;
</code></pre>
<p>It is recommended this code be inserted just before the end of the body section of your web page. This placement
helps provide the best possible user experience and response time.</p>
<h4>Tracking email openings</h4>
<p>Since most email client software does not support the execution of javascript in emails an alternative approach is used
for these situations.  Within the html body of the email add the following line (the location of the placement within the email is not important).</p>
<pre><code>
&lt;img src="<%= root_url -%>tracker.gif?utmac=<%= property.tracker %>&utec=email&utac=open" /&gt;
</code></pre>
<p>As discussed later, additional information can be added to this line such as a campaign name or a CRM identifier with helps further segment
the data for analysis.</p>
<h4>Tracking links in emails</h4>
<p>In order to track which links a user clicks in an email we use another technique called redirection.  A special link is inserted
into the email which, when clicked, will track the users action and then redirect to the required location.  The <%= link_to 'campaigns', campaigns_path -%>
 page has further information as well as a tool to help you build and manage these links.</p>