<div class="grid_12">
	<ul class="nav main">
		<li>
			<a name="mainmenu5" href="<%= dashboard_path %>">Dashboard</a>
		</li>
		<li>
			<a name="mainmenu2">Web Properties</a>
			<ul>
				<li>
					<a name="mainmenu2-submenu1" href="<%= new_property_path %>">Create a new Web Property</a>
				</li>
				<li>
					<a name="mainmenu2-submenu2" href="<%= properties_path %>">Show all Web Properties</a>
				</li>				
			</ul>
		</li>
		<li>
			<a name="mainmenu3">Campaigns</a>
			<ul>
				<li>
					<a name="mainmenu3-submenu1">Create a new campaign</a>
				</li>
			</ul>
		</li>
		<li class="secondary">
			<a name="secondarymenu" href="<%= edit_user_path(current_user) %>">Your Profile</a>
		</li>		
		<% if logged_in? && current_user.has_role?('account holder') %>
  		<li class="secondary">
  			<a name="secondarymenu">Account</a>
  			<ul>
  				<li>
  					<a name="secondarymenu-submenu1">Show Account Profile</a>
  				</li>
  				<li>
  					<a name="secondarymenu-submenu2" href="<%= users_path %>">Account Users</a>
  				</li>
  			</ul>
  		</li>
  	<% end %>
		<% if logged_in? && current_user.has_role?('admin') %>
  		<li class="secondary">
  			<a name="secondarymenu">Site Admin</a>
  			<ul>
  				<li>
  					<a name="secondarymenu-submenu3" href="<%= accounts_path %>">Accounts</a>
  				</li>
  				<li>
  					<a name="secondarymenu-submenu4" href="<%= new_user_path %>">Define new user</a>
  				</li>
  				<li>
  					<a name="secondarymenu-submenu5" href="<%= users_path %>">Show User List</a>
  				</li>  				
  			</ul>
  		</li>
  	<% end %>
	</ul>
</div>
<div class="clear"></div>