<div class="grid_12">
	<ul class="nav main">
		<li>
			<a name="mainmenu5" href="<%= dashboard_path %>">Dashboard</a>
		</li>
		<li>
			<a name="mainmenu2">Web Properties</a>
			<ul>
			  <% if logged_in? && current_user.is_administrator? %>
  				<li>
  					<a name="mainmenu2-submenu1" href="<%= new_property_path %>">Create a new web property</a>
  				</li>
  			<% end %>	
				<li>
					<a name="mainmenu2-submenu2" href="<%= properties_path %>">Show all web properties</a>
				</li>				
			</ul>
		</li>
		<li>
			<a name="mainmenu3">Campaigns</a>
			<ul>
      	<% if logged_in? && current_user.is_administrator? %>
				  <li>
					    <a name="mainmenu3-submenu1" href="<%= new_campaign_path %>">Create a new campaign</a>
				  </li>
				<% end %>  
				<li>
					<a name="mainmenu3-submenu2" href="<%= campaigns_path %>">Show all campaigns</a>
				</li>
			</ul>
		</li>	
		<% if current_user.has_role?(Role::ACCOUNT_ROLE) %>
  		<li>
  			<a name="secondarymenu">Account</a>
  			<ul>
  				<li>
  					<a name="secondarymenu-submenu1" href="<%= edit_account_path(current_account) %>">Edit account profile</a>
  				</li>
  				<li>
  					<a name="secondarymenu-submenu2" href="<%= users_path %>">Show account users</a>
  				</li>
  				<li>
  					<a name="secondarymenu-submenu3" href="<%= new_user_path %>">Create new account user</a>
  				</li>  				
  			</ul>
  		</li>
  	<% end %>
		<% if logged_in? && current_user.has_role?(Role::ADMIN_ROLE) %>
  		<li>
  			<a name="secondarymenu">Site Admin</a>
  			<ul>
  				<li>
  					<a name="secondarymenu-submenu4" href="<%= accounts_path %>">Show accounts</a>
  				</li>
  				<li>
  					<a name="secondarymenu-submenu6" href="<%= new_account_path %>">Create new account</a>
  				</li>  				
 					<li>
  					<a name="secondarymenu-submenu8" href="<%= site_path %>">Site performance</a>
  				</li>
  			</ul>
  		</li>
  	<% end %>
	</ul>
</div>
<div class="clear"></div>